<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- START SEO -->
{{ partial "global/seo.html" . }}
<!-- RESOURCES -->
<link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.min.css">
{{ if $.IsHome }}
<link rel="stylesheet" href="{{.Site.BaseURL}}css/ihf_index.css">
{{ end }}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.8/slick-lightbox.css"/>
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/slick-theme.css"/>
<link rel="shortcut icon" href="{{ .Site.Data.design.logo_and_title.favicon | absURL }}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137844210-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137844210-1');
</script>
<script type="text/javascript">
    var _userway_config = {
      /* uncomment the following line to override default position*/
      /* position: '3', */
      /* uncomment the following line to override default size (values: small, large)*/
       size: 'small',
      /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
      /* language: 'null', */
      /* uncomment the following line to override color set via widget (e.g., #053f67)*/
      /* color: '#2d68ff', */
      /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
      /* type: '1', */
      /* uncomment the following lines to override the accessibility statement*/
      /* statement_text: "Our Accessibility Statement", */
      /* statement_url: "anitatherealtor.com/accessibility", */
      /* uncomment the following line to override support on mobile devices*/
      /* mobile: true, */
      account: '988G7d10WI'
    };
  </script>
  <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
</head>
<body>