{{ $listingTitle := .Site.Data.home.featured_listing }}
<div class="listing-overlay" style="background:linear-gradient(rgba(0,0,0,0),rgba(255,255,255,0.3)),url(/uploads/kitchenoverlay.jpg) no-repeat center;background-size:cover">
    <div class="section">
        <div class="container is-fluid">
            <div class="columns has-text-centered pb-6 pt-6">
                <div class="column is-half is-offset-one-quarter">
                    {{ if $listingTitle.subtitle }}
                        <h5 class="subtitle is-5 is-uppercase">{{ $listingTitle.subtitle }}</h5>
                    {{ end }}
                    {{ if $listingTitle.heading }}
                    <h1 class="title is-2 pt-5">{{ $listingTitle.heading }}</h1>
                    {{ end }}
                </div>
            </div>
            <div class="columns is-multiline">
                {{ range (where $.Site.RegularPages "Type" "listings") }}
                <div class="column is-3">
                    <a href="{{ .Permalink }}" class="listing-container">
                    {{ range first 1 .Params.photos.gallery }}
                    <div class="featured-listing has-text-centered" style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url({{ . }}) no-repeat center;background-size:cover;height:300px">
                    {{ end }}
                        <div class="featured-listing-content">
                            <h1 class="title is-6 has-text-white">{{ .Title }}</h1>
                            <p style="color: #C69C6D">${{ lang.NumFmt 0 .Params.weight }}</p>
                        </div>
                    </div>
                </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>