<section class="hero is-fullheight lax" style="background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(https://d3g7t4t7rv9de8.cloudfront.net/3BgXaw8KpRnMaJQsd-1895RisingGlen024.jpg?width=1857) no-repeat center;background-size:cover;" data-lax-bg-pos-y="0 0, vh 200 500">
  {{ partial "global/navbar.html" . }}

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-left">
    <h3 class="subtitle is-5 is-uppercase pb-4">Welcome to</h3>
    <h1 class="title is-1 has-text-white">Ben Bacal Real Estate</h1>
    <h2 class="subtitle"></h2>
  </div>
</div>

<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot mb-5">
    <div class="container">
      <div class="columns has-text-left has-text-white">
        <div class="column is-2">
          <h4 class="title is-5 has-text-white">01</h4>
          <p>Setting the standard for Luxury Real Estate</p>
        </div>
        <div class="column is-2">
          <h4 class="title is-5 has-text-white">02</h4>
          <p>Top-Producing Agent with over 2 billion sales</p>
        </div>
        <div class="column is-2">
          <h4 class="title is-5 has-text-white">03</h4>
          <p>Featured on New York Times</p>
        </div>
      </div>
      <!-- <ul>
        <li><a class="has-text-white">Overview</a></li>
        <li><a class="has-text-white">Modifiers</a></li>
        <li><a class="has-text-white">Grid</a></li>
      </ul> -->
    </div>
</div>
  </section>