{{ partial "global/head.html" . }}
{{ $propDetails := .Params.details }}

<section class="hero is-fullheight hero__container">
    <!-- Hero head: will stick at the top -->
{{ partial "global/navbar.html" . }}
    <!-- Hero content: will be in the middle -->
<div class="listing-carousel">
{{ range .Params.photos.gallery }}
    <a href="{{ . }}" class="lightbox" title="Click to view full image"><div style="background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)),url({{ . }});height:100vh;background-size:cover;background-position:center;">
    </div>
    </a>
{{ end }}
</div>
</section>
<div class="scroll-down lax" data-lax-preset="fadeOut">
    <a href="#listing-detail">Scroll Down</a>
</div>
<main class="listing-container" id="listing-detail">
<div class="section">
    <div class="container pt-6">
        <div class="columns pt-6">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                <h4 class="title is-4 single-price">${{  lang.NumFmt 0 .Params.weight }}</h4>
                <h1 class="title is-3 has-text-centered">{{ .Title }}</h1>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4 listing-detail-container pl-6 pr-6 mr-6 listing-detail">
                <div class="detail-title"><h3 class="title is-5 is-capitalized">Details</h3></div>

                    {{ if $propDetails.bedrooms }}
                        <div class="columns is-mobile pt-5">
                            <div class="column"><h6 class="title is-6 has-text-white">Beds</h6></div>
                            <div class="column"><span>{{ $propDetails.bedrooms }}</span></div>
                        </div>
                    {{ end }}
                    {{ if $propDetails.bedrooms }}
                        <div class="columns is-mobile">
                            <div class="column"><h6 class="title is-6 has-text-white">Baths</h6></div>
                            <div class="column"><span>{{ $propDetails.bathrooms }}</span></div>
                        </div>
                    {{ end }}
                    {{ if $propDetails.square_footage }}
                        <div class="columns is-mobile">
                            <div class="column"><h6 class="title is-6 has-text-white">Sq. Ft</h6></div>
                            <div class="column"><span>{{ $propDetails.square_footage }}</span></div>
                        </div>
                    {{ end }}
                    {{ if $propDetails.lot_size }}
                    <div class="columns is-mobile">
                        <div class="column"><h6 class="title is-6 has-text-white">Lot Size</h6></div>
                        <div class="column"><span>{{ $propDetails.lot_size }}</span></div>
                    </div>
                {{ end }}

                    {{ if $propDetails.status }}
                    <div class="columns is-mobile">
                        <div class="column"><h6 class="title is-6 has-text-white">Sq. Ft</h6></div>
                        <div class="column"><span>{{ $propDetails.status }}</span></div>
                    </div>
                {{ end }}
                {{ if $propDetails.mls_number }}
                    <div class="columns is-mobile">
                        <div class="column"><h6 class="title is-6 has-text-white">Sq. Ft</h6></div>
                        <div class="column"><span>{{ $propDetails.mls_number }}</span></div>
                    </div>
                {{ end }}
                </div>
                <div class="column">
                    <div class="content single-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container is-fluid">
            {{ if .Params.tools.youtube_link }}
              <iframe src="https://www.youtube.com/embed/{{ .Params.tools.youtube_link }}" style="height:100vh;width:100%" frameborder="0" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            {{end}}
        </div>
    </div>
    <div class="section listing-contact">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-uppercase has-text-centered listing-agent-detail">Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-5">
                {{ if .Params.listing_agent.listing_agent }}<p>
                {{ with .Site.GetPage .Params.listing_agent.listing_agent }}
                    <div class="listing-agent-container">
                        <img src="{{ .Params.details.agent_photo }}" alt="">
                        <div class="listing-team-content">
                            <h1 class="title is-5 has-text-black mb-2">{{ .Title }} <br><span>Listing Agent</span></h1>
                            <p><a href="tel:{{ .Params.contact.cell }}">{{ .Params.contact.cell }}</a></p>
                            <p><a href="mailto:{{ .Params.contact.email }}">{{ .Params.contact.email }}</a></p>
                            <a href="{{ .Permalink }}" class="readmore">Read More</a>
                        </div>
                    </div>
                {{ end }}
                {{ end }}
                </div>
                <div class="column is-5">
                    {{ if .Params.listing_agent.co_list }}<p>
                        {{ with .Site.GetPage .Params.listing_agent.co_list }}
                            <div class="listing-agent-container">
                                <img src="{{ .Params.details.agent_photo }}" alt="">
                                <div class="listing-team-content">
                                    <h1 class="title is-5 has-text-black mb-2">{{ .Title }} <br><span>Co-listing Agent</span></h1>
                                    <p><a href="tel:{{ .Params.contact.cell }}">{{ .Params.contact.cell }}</a></p>
                                    <p><a href="mailto:{{ .Params.contact.email }}">{{ .Params.contact.email }}</a></p>
                                    <a href="{{ .Permalink }}" class="readmore">Read More</a>
                                </div>
                            </div>
                        {{ end }}
                        {{ end }}
                </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns pb-6">
            <div class="column">
                <h1 class="title is-3 more-prop">More Exclusive <span>Properties</span></h1>
            </div>
        </div>
        <div class="columns">
            {{ range shuffle (where $.Site.RegularPages "Type" "listings") }}
            <div class="column is-3">
                <a href="{{ .Permalink }}" class="listing-container">
                {{ range first 1 .Params.photos.gallery }}
                <div class="featured-listing has-text-centered" style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url({{ . }}) no-repeat center;background-size:cover;height:300px">
                {{ end }}
                    <div class="featured-listing-content">
                        <h1 class="title is-6 has-text-white">{{ .Title }}</h1>
                        <p style="color: #ccc">{{ lang.NumFmt 0 .Params.weight }}</p>
                    </div>
                </div>
            </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
</main>



{{ partial "global/footer.html" . }}